<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Add the internship form</title>
</head>
<body>
 <div>
    <h1>Add the internships</h1>
    <form action="/add/internships" method="post">
        <label>About the internships</label>
        <input type="text" name="about"><br><br>
        <label>Branch</label>
        <select name="branch">
            <option selected="selected">Branch</option>
            <option>CS</option>
            <option>EC</option>
            <option>IT</option>
            <option>Mechanical</option>
        </select><br><br>
        <input type="submit" name="">
    </form>
 </div>
</body>
</html>
