<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/form.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <title>Student Registration form</title>
</head>
<body>
 <div class="studentForm" style="float: left" style="margin: auto 0" >
    <h1>Register here</h1>
    <% if(errors){ %>
    <% for(var i=0;i< errors.length;i++){ %>
    <h3 class="bg-danger"><%= errors[i].msg %></h3>
    <% }} %>
    <% if(user) { %>
    <h3 class="bg-danger"><%= user %></h3>
    <% } %>
    <form action="/add/user" method="post">
        <label>Name</label>
        <input type="text" name="name"><br><br>
        <label>Email</label>
        <input type="email" name="email"><br><br>
        <label>Branch</label>
        <select name="branch">
            <option selected="selected">Branch</option>
            <option>CS</option>
            <option>EC</option>
            <option>IT</option>
            <option>Mechanical</option>
        </select><br><br>
        <label>Category</label>
        <select name="category">
            <option selected="selected">Category</option>
            <option>Teacher</option>
            <option>Student</option>
        </select><br><br>
        <label>Year</label>
        <select  name="year">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select><br><br>
        <label>Username</label>
        <input type="text" name="username"><br><br>
        <label>Password</label>
        <input type="password" name="password"><br><br>
        <label>Re-enter Password</label>
        <input type="password" name="rpassword"><br><br>
        <input type="submit" name="">    
    </form>
 </div>
</body>
</html>
