<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <h1>Welcome to homepage</h1>
     <% if (!user) { %>
  <p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
  <p>Hello, <%= user[0].username %>. <a href="/internships">Look at the internships.</p>
<% } %>
    
  </body>
</html>
