<!DOCTYPE html>
<html>
<head>
    <title>Internships</title>
</head>
<body>
<h2>Interships</h2>
<p> Welocme,<%= user.name %></p><br>
<% if(data) %>
<% for(var i=0;i< data.length;i++){ %>
<p>About the internship:<%= data[i].about %></p>
<p>Branch Name:<%= data[i].branch %></p>
<p>Last date to apply:<%= data[i].calender %></p><br><br>
<% } %>
<a href="/logout/">Log out</a>
</body>
</html>
