<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h1 style="text-align: center">Login</h1>
    <div class="student_login" style="float: left;">
        <h2>Student Login</h2>
        <form action="/login/student" method="post">
            <label>Username</label>
            <input type="text" name="username"><br><br>
            <label>Password</label>
            <input type="password" name="password"><br><br>
            <input type="submit" name="">
        </form>
    </div>
    <div class="teacher_login" style="float: right;">
        <h2>Teacher Login</h2>
        <form action="/login/teacher" method="post">
            <label>Username</label>
            <input type="text" name="username"><br><br>
            <label>Password</label>
            <input type="password" name="password"><br><br>
            <input type="submit" name="">
        </form>
    </div>
</div>
</body>
</html>
